body{
	background-image: url("https://www.caf.com/media/2244064/la-riqueza-natural-de-la-amazonia-como-base-del-desarrollo-sostenible-regional.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:Gainsboro;
	font-family: Times New Roman,Serif;
}
h1{
	background-color: #008000;
	color: white;
	border-style: solid;
	border-radius: 15px;
	border-color: black;
	border-width: 2px;
	padding: 6px;
	margin : 10px;
	font-size: 220%;


}
h2{
	background-color: #32CD32;
	color: white;
	border-style: solid;
	border-radius: 15px;
	border-color: black;
	border-width: 2px;
	padding: 2px;
	font-size: 150%;


}
h3{
	background-color: Gainsboro;
	border-style: solid;
	border-radius: 15px;
	border-color:#808080;
	padding: 30px;
	margin : 30px;
	font-weight: normal;


}
img {
  
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
  	border-radius: 8px;
	border-color: white;
	border-width: 2px;
  	width: 40%;
	transition: 2s;

}
img:hover{
	border-width: 6px;
	border-style: solid;
	border-color: white;
	border-radius:15px;
	width: 45%;
}
table {

	border-width: 6px;
	border-style: solid;
	border-color: black;
	background-color: #32CD32;
	border-radius: 20px;

}
td{

	font-family: Times New Roman,monospace;
	font-size: 20px;
	font-weight: normal;
	font-variant: normal;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	background-color:  white;
	border-radius: 10px;
	

}
th{

	font-family: Times New Roman,monospace;
	font-size: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	background-color:  Gainsboro;
	border-radius: 10px;
	

}
button{
	background-color: DarkSeaGreen;
	color: black;
	border-radius:20px;
	padding: 1em;
	margin: 1em;
	font-family: Courier New,monospace;
	transition: 1.5s;
}
button:hover{
	background-color: Black;
	color: white;
	font-size: 100%;
	border-radius:20px;
	font-family: Courier New,monospace;
}

